[log]
log.dir=/work/tensor_completion/logs
scratch.dir=/work/scratch/tensor_completion
scratch.tt-rim.dir4D=/home/ec2-user/analysis/work/scratch/tensor_completion/4D/tt/tt-rim
scratch.tt-rim.dir3D=/home/ec2-user/analysis/work/scratch/tensor_completion/3D/tt/tt-rim
scratch.tt-rim.dir2D=/home/ec2-user/analysis/work/scratch/tensor_completion/2D/tt/tt-rim
scratch.tucker.dir4D=/work/scratch/tensor_completion/4D/tucker
scratch.tucker.dir3D=/work/scratch/tensor_completion/3D/tucker
scratch.tucker.dir2D=/work/scratch/tensor_completion/2D/tucker
scratch.cp.dir4D=/home/ec2-user/analysis/work/scratch/tensor_completion/4D/cp
scratch.cp.dir3D=/home/ec2-user/analysis/work/scratch/tensor_completion/3D/cp
scratch.cp.dir2D=/home/ec2-user/analysis/work/scratch/tensor_completion/2D/cp
scratch.tt-als.dir4D=/home/ec2-user/analysis/work/scratch/tensor_completion/4D/tt/tt-als
scratch.tt-als.dir3D=/home/ec2-user/analysis/work/scratch/tensor_completion/3D/tt/tt-als
scratch.tt-als.dir2D=/home/ec2-user/analysis/work/scratch/tensor_completion/2D/tt/tt-als
scratch.dirgoogledrive=/work/scratch/google_drive

[google_drive_random4D]
mr10=1qQw9VDuOWyBYJL9RJyIfqiwMSj5gvZ57
mr20=1eCWslLjqKpswvhb_cuqfuFfiZymb5eTu
mr25=1jn2jjIq4VXTOeKLuH_RFuGZIfEHNeUDZ
mr30=1Y3n9fmMzEXLwPoKvFYo98tC6ZKFuQxpG
mr40=1uI55huHB1E_ncyulO_21_jwY3VD58v6h
mr50=13toS6zWI9ZEcoidGnF3_7G9oMG4z9-k9
mr60=1vzk4KT-ep86XS6zYZmxL_l1AXkMbzL4V
mr70=16aAHhPZudcFWkNHeen246oNFdysw-sYK
mr75=1gnrZSOjMECGCoUYZpzu1ibetG_nBxwAn
mr80=1_W3rQ8yKZ0Yx-LeI3xm5qpB6wrFtCY3U
mr90=1_S_Z6AM8I39K-bmYQykVZFvfAxPFS7bq
mr95=1LYtFVb1eoICEm_0978FXq2OSOPxmuhrPs


[google_drive_random3D]
mr10=1laZh0X_DFlkxcpMWwW48h3OFNyh-NRsr
mr20=1U-mKDXAjNcYalPbtAjzrgWZY5HO_yt6g
mr25=1cn9_hrKkq9HXzbzyZAIZxWAyM9JuEk0c
mr30=1_69muXlV0lTp-g4m4Df-vOvbHAT-6NTy
mr40=1pBRvT3zapWs2-Gy3vnjmRxntFj6c2dg8
mr50=1z2lq6WWrL69qDiA63AXVfuw_Cn1Ouq4g
mr60=1PORbFPtDBqgC-uNdG4U4OdvZZ4yL1r4d
mr70=1wvoWbbOow6Tn_e_w2499FAdOYHPISywb
mr75=1lnTiMbP1fDSCPp12gq9T1DBUBhGK9_ja
mr80=1-vYdRsx4nClNDxHBfEw2gSVzROOhBuvn
mr90=1zrYEZ2XvZoBYbnkjEtgQeyKg59ED9icC
mr95=11-6Vtxb3MOJikLDYpCvIPs2dKLH0qgyK


[google_drive_random2D]
mr10=1laZh0X_DFlkxcpMWwW48h3OFNyh-NRsr
mr20=1U-mKDXAjNcYalPbtAjzrgWZY5HO_yt6g
mr25=1cn9_hrKkq9HXzbzyZAIZxWAyM9JuEk0c
mr30=1_69muXlV0lTp-g4m4Df-vOvbHAT-6NTy
mr40=1pBRvT3zapWs2-Gy3vnjmRxntFj6c2dg8
mr50=1z2lq6WWrL69qDiA63AXVfuw_Cn1Ouq4g
mr60=1PORbFPtDBqgC-uNdG4U4OdvZZ4yL1r4d
mr70=1wvoWbbOow6Tn_e_w2499FAdOYHPISywb
mr75=1lnTiMbP1fDSCPp12gq9T1DBUBhGK9_ja
mr80=1-vYdRsx4nClNDxHBfEw2gSVzROOhBuvn
mr90=1zrYEZ2XvZoBYbnkjEtgQeyKg59ED9icC
mr95=11-6Vtxb3MOJikLDYpCvIPs2dKLH0qgyK

[content_uploader]
content.log=/work/tensor_completion/logs/content
